pre[class*='language-'] {
  color: #D0D0D6;
}

.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.selector.class {
  color: #A8E848;
}

.token.function,
.token.method,
.token.function-variable {
  color: #E8E8EC;
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.pseudo-class,
.token.important {
  color: #F050A0;
}

.token.builtin {
  color: #D080F0;
}

.token.module {
  color: #A8E848;
}

.token.string,
.token.template-string,
.token.attr-value {
  color: #E0B040;
}

.token.property {
  color: #88D0A0;
}

.token.property-access {
  color: #B0B0B8;
}

.token.number {
  color: #F8A0C8;
}

.token.boolean,
.token.constant,
.token.symbol {
  color: #D080F0;
}

.token.punctuation,
.token.attr-equals {
  color: #707078;
}

.token.operator,
.token.spread {
  color: #F070B0;
}

.token.unit,
.language-css .token.function {
  color: #C8F068;
}

.token.comment {
  color: #585860;
  font-style: italic;
}

.token.combinator {
  color: #707078;
}

.token.regex {
  color: #E0B040;
}

.token.template-punctuation {
  color: #F050A0;
}

.token.parameter {
  color: #E8B870;
}
