pre[class*='language-'] {
  color: #d0d0d6;
}

.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.selector.class {
  color: #a8e848;
}

.token.function,
.token.method,
.token.function-variable {
  color: #e8e8ec;
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.pseudo-class,
.token.important {
  color: #f050a0;
}

.token.builtin {
  color: #d080f0;
}

.token.module {
  color: #a8e848;
}

.token.string,
.token.template-string,
.token.attr-value {
  color: #e0b040;
}

.token.property {
  color: #88d0a0;
}

.token.property-access {
  color: #b0b0b8;
}

.token.number {
  color: #f8a0c8;
}

.token.boolean,
.token.constant,
.token.symbol {
  color: #d080f0;
}

.token.punctuation,
.token.attr-equals {
  color: #707078;
}

.token.operator,
.token.spread {
  color: #f070b0;
}

.token.unit,
.language-css .token.function {
  color: #c8f068;
}

.token.comment {
  color: #585860;
  font-style: italic;
}

.token.combinator {
  color: #707078;
}

.token.regex {
  color: #e0b040;
}

.token.template-punctuation {
  color: #f050a0;
}

.token.parameter {
  color: #e8b870;
}
